.carousel .slide {
  background: #fff;
}

.carousel .control-dots {
  margin: 60px auto;
}

.carousel li.slide img {
  height: 750px;
}

@media (max-width: 768px) {
  .carousel li.slide img {
    height: 300px;
  }
}
